@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html{
  overflow-x:hidden;
}
main{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

main .hero{
  width:100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url('../assets/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

main .hero button{
  margin-top: 20px;
}

main .hero h1{
  text-align: center;
}

main .hero h2{
  margin-top: 30px;
  text-align: center;
}

main .hero button{
  padding: 10px;
  outline: none;
  border: 2px solid white;
  background: transparent;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 37px;
  cursor: pointer;
  transition: .3s linear;
}

main .hero button:hover{
  box-shadow: 1px 1px 9px 1px white;
  text-shadow: 1px 1px 20px white;
}

@media screen and (max-width:900px){
  main .hero h1,h2{
    padding: 0 20px;
  }
}

main .about{
  display: flex;
  height: fit-content;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 39px;
}

main .about .left{
  width: 60%;
  padding: 38px;
}

main .about .left p{
  margin-top: 22px;
  line-height: 28px;
  padding: 0 100px;
}

main .about .left h1{
  text-align: center;
}

main .about .right{
  width: 34%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .about .right img{
  height: 200px;
  width: 197px;
  border-radius: 50%;
  margin-top: 10px;
}

@media screen and (max-width:1000px){
  main .about{
    flex-direction: column-reverse;
  }

  main .about .right{
    width: 100%;
    justify-content: center;
  }

  main .about .left{
    width:100%;
  }

  main .about .left p{
    margin-top: 30px;
  }
}

@media screen and (max-width:700px){
  main .about .left p{
    padding:0 40px;
  }
}

main .recent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

main .recent .post{
  padding: 20px 15px;
  display: flex;
  cursor: pointer;
}

main .recent .post h2{
  padding-inline: 0px !important;
}
main .recent .post:hover{
  background: #f9f9f9;
}

main .recent .post img{
  height: 120px;
  width: 200px;
}

main .recent .post .detail{
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  gap: 9px;
}

main .recent .post .detail p{
  width: 540px;
}

@media screen and (max-width:800px){
  main .recent .post{
    flex-direction: column;
    width: 250px;
    padding: 25px;
    align-items: center;
    border-radius: 5px;
    background: #f9f9f9;
  }

  main .recent .posts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
  }

  main .recent .post img{
    width: 100%;
    height: 150px;
  }

  main .recent .post .detail p{
    width: 250px;
  }

  main .recent .post .detail{
    margin-top: 15px;
  }
}


